p {
  text-align: left;
  opacity: 0.8;
  font-size: 12px;
}
input {
  outline: none;
  border: none;
  border-bottom: 1px solid;
  font-size: 13px;
  padding: 4px 0px;
  opacity: 0.5;
}
input:focus {
  transition: all 0.5s;
  opacity: 1;
}
.input-wrapper {
  margin-bottom: 16px;
}
